// reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


// colors
@black: #000;
@green: #00a9a4;
@lightGrey: #999;
@darkGrey: #464646;
@grey: #555;

// fonts
@sansFontFamily: 'Lato', Helvetica, Arial, sans-serif;
@serifFontFamily: 'Georgia', 'Times New Roman', serif;

// helpers 
.never-show {
  display: none;
}

body {
  font: 16px/1.5em @sansFontFamily;
  color: @grey;
}

a {
  color: @green;
  text-decoration: none;
  &:hover {
    color: @green;
  }
}

h4 {
  color: @black;
  font-weight: bold;
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
}

header {
  margin: 60px 0 30px;
}

.page-title {
  color: @black;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.page-tagline {
  font-family: @serifFontFamily;
  font-size: 1.25em;
  font-style: italic;
  color: @lightGrey;
  padding: 5px 0 0;
}

.note {
  font-family: @serifFontFamily;
  font-style: italic;
  color: @lightGrey;
  margin-top: 1.5em;
  .contact & {
    margin-top: 0;
  }
}

.description {
  padding-bottom: 15px;
  p {
    margin: 0;
  }
  .contact & {
    padding-bottom: 0;
  }
}

.position {
  color: @green;
  font-family: @sansFontFamily;
}

.social {
  margin-top: 60px;
  ul {
    padding: 0;
  }
  li {
    display: inline-block;
    font-size: 25px;
    margin-left: 5px;
  }
}

.contact{
  margin-bottom: 60px;
}

.work-experience, .education {
  margin-bottom: 45px;
}

blockquote {
  margin: 0 0 30px;
  padding: 0;
  border: 0;
  p {
    color: @green;
    font-family: @serifFontFamily;
    font-style: italic;
    quotes: '\201c' '\201d';
    margin-bottom: 10px;
    &:first-of-type:before {
      content: open-quote;
      font-size: 2em;
      line-height: 0.5em;
      position: relative;
      top: 10px;
      left: -5px;
    }
    &:last-of-type {
      margin-bottom: 0;
      &:after  {
        content: close-quote;
        position: relative;
        top: 18px;
        left: 2px;
        font-size: 2em;
        line-height: 0.5em;
      }
    }
  }
}
cite {
  margin-top: 5px;
  display: block;
  font-size: 0.85em;
  line-height: 1.25em;
  strong {
    color: @black;
    font-weight: bold;
  }
}

h6 {
  color: @black;
  font-weight: bold;
  margin-bottom: 30px;
}

aside section {
  margin-bottom: 60px;
}

.skills li {
  font-family: @serifFontFamily;
  margin-bottom: 20px;
  font-style: italic;
  strong {
    color: @black;
    font-style: normal;
    font-family: @sansFontFamily;
  }
}

.portfolio p {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .note {
    text-align: right;
  }
  .social {
    margin-top: 0;
  }
}

@media print {
  header {
    margin-left: 25%;
    padding: 0 10px;
  }
  .note {
    float: left;
    width: 25%;
    text-align: right;
  }
  .description {
    float: left;
    width: 65%;
  }
  .contact {
    margin-bottom: 30px;
  }
  aside section {
    margin-bottom: 30px;
    float: left;
  }
  h6 {
    float: left;
    width: 25%;
    color: @darkGrey;
    font-family: @serifFontFamily;
    text-align: right;
    font-style: italic;
    font-weight: normal;
    padding: 0 15px;
  }
  .section-content {
    float: left;
    width: 65%;
    padding: 0 15px;
  }
  .print-title {
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-left: 25%;
    padding: 0 10px;
    font-weight: bold;
  }
  .page-tagline, h6, .position, .note {
    color: @lightGrey !important;
  }
  a[href]:after {
    content: "";
  }
}